.grid__cell= link_to t('workarea.admin.catalog_products.index.add_new_package_product'), create_catalog_package_products_path, id: 'add_product', class: 'workflow-bar__button workflow-bar__button--create'
